.App {
  text-align: center;
}

.App-logo {
  display: flex;
  align-items: center;
  max-width:50 vw;
  margin: 0 auto;
}

.App-logo img{
  max-width: 50vw;  
  margin: auto;
}

.header{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width:50 vw;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar{
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.navbar a{
  padding: 10px;
}


